body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.900);
}

header {
    position: fixed;
    width: 100%;
    line-height: 4em;
    background-color: black;
    border-bottom: solid red 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

header h1 {
    margin: 0;
    margin-left: 10px;
    width: 3.8em;
    color: white;
    text-decoration: underline blueviolet;
}

a h1:hover {
    background-color: rgba(128, 128, 128, 0.507);
}

#newP {
    margin-left: 20px;
    font-size: 30px;
    background-color: rgb(149, 248, 68);
}

#newP:hover {
    background-color: rgba(149, 248, 68, 0.74);
}

p a {
    margin-left: 20px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

p {
    width: 200px;
    transition: transform .2s;
}

p:hover {
    transform: scale(1.2) translate(20px);
}

p a:hover {
    background-color: gray;
    border-bottom: solid red 5px;
    border-radius: 10px;
}

#films {
    border-left: solid red 10px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

input {
    margin-top: 80px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}